<html>


<div class = "container">
    <h1>Update Account Type: {{account_type.account_type}}</h1>
    <div class="row">
        <div class="col">
            <form id="updateaccounttype" action="/account_types" method="PUT">
                <fieldset>


                    <!--
                    <div class="mb-3">
                        <label>Type Name: 

                            <input type="text" name="accountType" size="20" maxlength="30" required="required"
                                class="form-control" value="{{account_type.account_type}}">

                        </label>
                    </div>
                    -->

                    <div class="mb-3">
                        <label>Associated Interest Rate
                            <div class="input-group">
                                <input type="number" name="interestRate" step="0.01" size="20" maxlength="30"
                                    required="required" class="form-control" value="{{account_type.interest_rate}}">
                                <span class="input-group-text">%</span>
                            </div>
                        </label>
                    </div>

                    <div class="mb-3">
                        <label>Special Offer
                            <select name="offerID" id="offers" class="form-select" aria-label="Default select example">
                                <option value="NULL" selected> -- None -- </option>
                                {{#each offers}}
                                <option value="{{offer_ID}}"> {{offer_ID}}</option>
                                {{/each}}
                            </select>
                        </label>
                    </div>
                    <button type="submit" class="btn btn-secondary" value="updateAccountType"
                        onclick="updateAccountTypeByType({{account_type.account_type}})">UPDATE</button>
                </fieldset>
            </form>
        </div>
    </div>
</div>
</html>